@using SportNews247.Controllers
@model IEnumerable<SportNews247.Database.TinTuc>

@{
    ViewBag.Title = "GetAllTin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<h2>Danh sách các tin tức trong hệ thống</h2>
<p>
    @Html.ActionLink("Thêm tin mới", "ThemTinMoi","User")
</p>
@using (Html.BeginForm("MyNews", "User", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-3">
            <select class="form-control" name="trang_thai">
                <option value="">Tất cả</option>
                <option value="0">Bị từ chối</option>
                <option value="1">Chờ duyệt tin</option>
                <option value="2">Tin đã duyệt</option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-control" name="order">
                <option value="word">A-Z</option>
                <option value="day">Ngày tạo</option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-control" name="up_down">
                <option value="true">Tăng</option>
                <option value="false">Giảm</option>
            </select>
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-default">Tìm</button>
        </div>
    </div>
}
@if (ViewBag.CountNews != null)
{
    <div class="row">

        <div class="col-lg-12 text-right">
            Tổng số: @ViewBag.CountNews
        </div>
    </div>
}


<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                Tiêu đề
            </th>

            <th>
                Nội dung
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Danh mục
            </th>
            <th>
                Người đăng
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tieu_de)
                </td>
                <!--<td>-->
                @*@Html.DisplayFor(modelItem => item.img)*@
                <!--<img src="@item.img" class="img-responsive" style="width: 400px;height:300px;" alt="Alternate Text" />
                </td>
                <td>
                    Html.DisplayFor(modelItem => item.tom_tat)
                </td>-->
                <td>
                    <a class="btn btn-primary" data-toggle="collapse" href="#@(item.id)" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Xem
                    </a>
                    <div class="collapse" id="@(item.id)">
                        <div class="card card-body">
                            @Html.Raw(item.noi_dung)
                        </div>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ngay_tao)
                </td>
                <td>

                    @if (item.trang_thai == (int)AdminController.TrangThai.CHO_XET_DUYET)
                    {
                        @Html.Raw("<span class='text-info font-weight-bold'>Chờ duyệt tin</span>");

                    }
                    else if (item.trang_thai == (int)AdminController.TrangThai.BI_TU_CHOI)
                    {

                        @Html.Raw("<span class='text-danger font-weight-bold'>Bị từ chối</span>");
                    }
                    else
                    {

                        @Html.Raw("<span class='text-success font-weight-bold'>Đã duyệt tin</span>");
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DanhMucTin.tieu_de)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.username)
                </td>
                <td>
                    @*@Html.ActionLink("Duyệt tin", "CheckNew", new { id = item.id, stt = "ok" }, new { @type = "submit", @class = "btn btn-success" })
                    @Html.ActionLink("Từ chối", "CheckNew", new { id = item.id, stt = "cancel" }, new { @type = "submit", @class = "btn btn-danger" })*@
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                </td>
            </tr>
        }
    </table>
</div>