@model IEnumerable<SportNews247.Database.TinTuc>

@{
    ViewBag.Title = "GetAllTin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<h2>Danh sách các tin tức trong hệ thống</h2>

<p>
    @Html.ActionLink("Thêm tin mới", "ThemTinMoi")
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.tieu_de)*@
                Tiêu đề
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.img)*@
                Ảnh đại diện
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.tom_tat)*@
                Tóm tắt
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.noi_dung)*@
                Nội dung
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ngay_tao)*@
                Ngày tạo
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.trang_thai)*@
                Trạng thái
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DanhMucTin.tieu_de)*@
                Danh mục
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.User.username)*@
                Người đăng
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tieu_de)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.img)*@
                    <img src="@item.img" class="img-responsive" style="width: 400px;height:300px;" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tom_tat)
                </td>
                <td>
                    <a class="btn btn-primary" data-toggle="collapse" href="#@(item.id)" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Xem thêm
                    </a>
                    <div class="collapse" id="@item.id">
                        <div class="card card-body">
                            @Html.Raw(item.noi_dung)
                        </div>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ngay_tao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trang_thai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DanhMucTin.tieu_de)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.username)
                </td>
                <td>
                    @Html.ActionLink("Sửa tin", "SuaTinTuc", new { id = item.id }) |
                    @Html.ActionLink("Xem tin", "ChiTietTin", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </table>
</div>