@model SportNews247.Database.TinTuc
@using SportNews247.Database
@{
    ViewBag.Title = "ThemTinMoi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ User user = Session["User"] as User; }
<h2>Thêm tin mới</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h6 class="text-danger">Sau khi thêm, bạn phải chờ xét duyệt để tin được hiển thị</h6>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group d-none">
            @Html.LabelFor(model => model.id, "", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.id_dm, "Chọn danh mục", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6 col-sm-12">
                <select name="id_dm" class="form-control">
                    @if (ViewBag.DanhMuc != null)
                    {
                        foreach (var item in ViewBag.DanhMuc as List<SportNews247.Database.DanhMucTin>)
                        {
                            <option value="@item.id">@item.tieu_de</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_user, "Người đăng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <input type="text" class="form-control" disabled readonly value="@user.name" />
                <input type="text" class="form-control d-none" disabled readonly name="id_user" value="@user.id" />
                @Html.ValidationMessageFor(model => model.id_user, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tieu_de, "Tiêu đề", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tieu_de, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tieu_de, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.img, "Ảnh đại diện", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.img, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.img, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tom_tat, "Tóm tắt", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tom_tat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tom_tat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.noi_dung, "Nội dung", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="form-control" rows="5" name="noi_dung" placeholder="Nội dung"></textarea>
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.ngay_tao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ngay_tao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ngay_tao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.trang_thai, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.trang_thai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.trang_thai, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "GetAllTin")
</div>

<script>
    CKEDITOR.replace('noi_dung');
</script>