@model IEnumerable<SportNews247.Database.TinTuc>

@{
    ViewBag.Title = "Tin thể thao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="sidebar">
            <div class="sidebar-widget">
                <h2 class="sw-title">Tin @ViewBag.TenDanhMuc</h2>
                <div class="news-list">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="nl-item">
                                <div class="nl-img">
                                    <img src="@item.img">
                                </div>
                                <div class="nl-title">
                                    <a href="@Url.Action("Xemtintuc","home", new {id = item.id, title = item.tieu_de.ToLower().Replace(" ", "-")})" title="View">@item.tieu_de</a>
                                    <div style="opacity: 0.4;padding-left:15px;">
                                        <span>@(item.tom_tat)...</span>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="nl-item">
                            Bạn chưa có tin nào!
                        </div>
                    }
                </div>
            </div>

            <div class="sidebar-widget">
                <h2 class="sw-title">Danh mục mới</h2>
                <div class="category">
                    <ul>
                        <li><a href="">Bóng đá</a><span>(98)</span></li>
                        <li><a href="">Bóng chuyền</a><span>(87)</span></li>
                        <li><a href="">Thể thao</a><span>(76)</span></li>
                        
                    </ul>
                </div>
            </div>

            <div class="sidebar-widget">
                <h2 class="sw-title">Tags Cloud</h2>
                <div class="tags">
                    <a href="">National</a>
                    <a href="">International</a>
                    <a href="">Economics</a>
                    <a href="">Politics</a>
                    <a href="">Lifestyle</a>
                    <a href="">Technology</a>
                    <a href="">Trades</a>
                </div>
            </div>
        </div>
    </div>
</div>